<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="DbType" value="SQLServer"/>
    <add key="BaseDALAssembly" value="_01Homework.DAL.BaseDAL,01Homework.DAL"/>
  </appSettings>
  <connectionStrings>
    <add connectionString="server=.;database=Ruanmou;uid=sa;pwd=123456" name="strConn"/>
  </connectionStrings>
</configuration>